<aside class="menu-sidebar3 js-spe-sidebar">
    <nav class="navbar-sidebar2 navbar-sidebar3">
        <ul class="list-unstyled navbar__list">
            <li class="has-sub">
                <a href="index.html">
                    <i class="fas fa-desktop"></i>Dashboard
                    <span class="arrow">
                            <i class="fas fa-angle-right"></i>
                    </span>
                </a>
            </li>
            <li class="active ">
                <a href="commerce.html">
                    <i class="fas fa-chart-bar"></i>Stocks</a>
                <span class="inbox-num">3</span>
            </li>
            <li>
                <a href="commerce_Entrances.html">
                    <i class="fas fa-check"></i>Entrances</a>
                <span class="arrow">
                            <i class="fas fa-angle-right"></i>
                    </span>
            </li>
            <li>
                <a href="commerce_checkout.html">
                    <i class="fas fa-shopping-cart"></i>CheckOut</a>
                <span class="arrow">
                            <i class="fas fa-angle-right"></i>
                    </span>
            </li>
            <li>
                <a href="commerce_report.html">
                    <i class="fas fa-copy"></i>Report</a>
                <span class="inbox-num">1</span>
            </li>
            <li>
                <a href="commerce_checkout.html">
                    <i class="fas fa-question"></i>FAQs</a>
                <!-- <span class="arrow">
                        <i class="fas fa-angle-right"></i>
                </span> -->
            </li>
            <!-- <li>
                <a href="commerce_checkout.html">
                    <i class="fas fa-exclamation-triangle"></i>About Us</a>
            </li> -->

        </ul>
    </nav>
</aside>